<div class="row">
  <div class="col-1">

  </div>
  <div class="col-4">
    <% @contacts.each do |contact| %>
      <h1><%= contact.title %></h1>
      <h3><%= contact.description %> </h3>
    
      <% end %>
    <% end %>
  </div>
  <div class="col-4">
    
  </div>
  <div class="col-3">

  </div>
</div>
